node_modules
.direnv
.repos/*
!.repos/.lock

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/packages/core/dist/
/artifacts/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Playwright
test-results

# Rust
/wasm/target/
